<header>
  <h1 class="title-header">FrogIn-Think 🐸💭</h1>
  <nav>
    <a routerLink="/"
       class="nav-choice"
       [ngClass]="{'nav-selected': router.url === '/'}">
      Home
    </a>
    <a routerLink="/tutorial"
       class="nav-choice"
       [ngClass]="{'nav-selected': router.url.startsWith('/tutorial')}">
      How to use ?
    </a>
    <a routerLink="/projects"
       class="nav-choice"
       [ngClass]="{'nav-selected': router.url.startsWith('/projects')}">
      Project
    </a>
    <a routerLink="/account"
       class="nav-choice"
       [ngClass]="{'nav-selected': router.url.startsWith('/account')}">
      Account
    </a>
  </nav>
</header>
<main>
  <router-outlet />
</main>
<footer>
  <h3 class="title-footer">Made by FrogIn-Dev</h3>
  <nav>
    <a routerLink="/"
       class="nav-choice"
       [ngClass]="{'nav-selected': router.url === '/'}">
      Home
    </a>
    <a routerLink="/tutorial"
       class="nav-choice"
       [ngClass]="{'nav-selected': router.url.startsWith('/tutorial')}">
      How to use ?
    </a>
    <a routerLink="/projects"
       class="nav-choice"
       [ngClass]="{'nav-selected': router.url.startsWith('/projects')}">
      Project
    </a>
    <a routerLink="/account"
       class="nav-choice"
       [ngClass]="{'nav-selected': router.url.startsWith('/account')}">
      Account
    </a>
  </nav>
</footer>

