header {
  display: flex;
  border-bottom: darkgreen solid 1px;
  align-items: center;
  height: 5vh;
  width: 100vw;
  margin-bottom: 2vh;
}

.title-header, .title-footer {
  color: white;
  margin: 0 1vw;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-choice {
  color: darkgreen;
  margin: 0 10px;
  text-decoration: none;
}

.nav-choice:hover,.button-sign-in:hover, .button-sign-up:hover, .button-logout:hover  {
  color: #018f01;
  transition: 0.2s ease;
  transform: scale(1.1);
  cursor: pointer;
}

.nav-selected{
  color: #00af00;
}

.button-sign-in, .button-sign-up, .button-logout {
  width: 5vw;
  padding: 5px;
  background-color: transparent;
  border-radius: 7px;
  border: darkgreen solid 2px;
  outline: none;
  box-sizing: content-box;
}

.nav-and-buttons {
  display: flex;
  justify-content: space-between;
  flex:1;
}

.buttons-and-username {
  display: flex;
  align-items: center;
}

.button-sign-up, .button-logout {
  margin: 0 1vw;
}

main {
  /* 10vh -> taille du header et footer; 2v -> margin header; 2px ->taille des border de header et footer*/
  min-height: calc(100vh - 10vh - 2vh - 2px);
}

footer {
  display: flex;
  border-top: darkgreen solid 1px;
  align-items: center;
  height: 5vh;
}
